@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/***
    End of CSS reset
***/
/* Unordered List */
ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* Ordered List */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul, ol {
  padding-left: 1rem;
  margin: 1rem;
}

/* Table */
.dr-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Header */
.dr-table thead {
  background-color: #012E40;
  color: white;
  text-transform: uppercase;
}

.dr-table th {
  padding: 12px 16px;
  text-align: center;
  font-weight: bold;
}

/* Table Body */
.dr-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.dr-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Table Cells */
.dr-table td {
  padding: 12px 16px;
  text-align: center;
}

/* Form Styling */
form {
  max-width: 500px;
  padding: 20px;
  background: #012E40;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

/* Labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

/* Radio and Checkbox Styling */
.form-group-inline {
  display: block;
  gap: 15px;
}

/* Regular text for radio and checkbox labels */
.form-group-inline label {
  font-weight: normal;
  display: inline-block;
  margin-right: 15px;
}

/* Input Fields */
input[type=text],
input[type=email],
input[type=password],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
}

/* Placeholder Styling */
input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body {
  font-family: "Lexend", serif;
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.dr-fw-xl {
  font-weight: 100;
}

.dr-fw-l {
  font-weight: 200;
}

.dr-fw-r {
  font-weight: 400;
}

.dr-fw-sb {
  font-weight: 600;
}

.dr-fw-b {
  font-weight: 700;
}

.dr-fw-xb {
  font-weight: 900;
}

@keyframes float {
  0% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
  100% {
    scale: 110%;
  }
}
@keyframes vfloat {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes popout {
  0% {
    opacity: 0%;
    translate: 0px, -100px;
  }
  100% {
    opacity: 100%;
    translate: 0px, 0px;
  }
}
@keyframes scalein {
  0% {
    opacity: 0%;
    scale: 1%;
  }
  100% {
    opacity: 100%;
    scale: 100%;
  }
}
/* Padding all around */
.dr-p-n {
  padding: 0;
}

.dr-p-xsm {
  padding: 0.25rem;
}

.dr-p-sm {
  padding: 0.5rem;
}

.dr-p-md {
  padding: 1rem;
}

.dr-p-lg {
  padding: 1.5rem;
}

.dr-p-xl {
  padding: 2rem;
}

.dr-p-pxxl {
  padding: 2.5rem;
}

/* Padding on x-axis */
.dr-px-n {
  padding: 0 0;
}

.dr-px-xsm {
  padding: 0 0.25rem;
}

.dr-px-sm {
  padding: 0 0.5rem;
}

.dr-px-md {
  padding: 0 1rem;
}

.dr-px-lg {
  padding: 0 1.5rem;
}

.dr-px-xl {
  padding: 0 2rem;
}

.dr-px-pxxl {
  padding: 0 2.5rem;
}

/* Padding on y-axis */
.dr-py-n {
  padding: 0 0;
}

.dr-py-xsm {
  padding: 0.25rem 0;
}

.dr-py-sm {
  padding: 0.5rem 0;
}

.dr-py-md {
  padding: 1rem 0;
}

.dr-py-lg {
  padding: 1.5rem 0;
}

.dr-py-xl {
  padding: 2rem 0;
}

.dr-py-pxxl {
  padding: 2.5rem 0;
}

/* Padding on left side */
.dr-pl-n {
  padding-left: 0;
}

.dr-pl-xsm {
  padding-left: 0.25rem;
}

.dr-pl-sm {
  padding-left: 0.5rem;
}

.dr-pl-md {
  padding-left: 1rem;
}

.dr-pl-lg {
  padding-left: 1.5rem;
}

.dr-pl-xl {
  padding-left: 2rem;
}

.dr-pl-pxxl {
  padding-left: 2.5rem;
}

/* Padding on right side */
.dr-pr-n {
  padding-right: 0;
}

.dr-pr-xsm {
  padding-right: 0.25rem;
}

.dr-pr-sm {
  padding-right: 0.5rem;
}

.dr-pr-md {
  padding-right: 1rem;
}

.dr-pr-lg {
  padding-right: 1.5rem;
}

.dr-pr-xl {
  padding-right: 2rem;
}

.dr-pr-pxxl {
  padding-right: 2.5rem;
}

/* Padding on top */
.dr-pt-n {
  padding-top: 0;
}

.dr-pt-xsm {
  padding-top: 0.25rem;
}

.dr-pt-sm {
  padding-top: 0.5rem;
}

.dr-pt-md {
  padding-top: 1rem;
}

.dr-pt-lg {
  padding-top: 1.5rem;
}

.dr-pt-xl {
  padding-top: 2rem;
}

.dr-pt-pxxl {
  padding-top: 2.5rem;
}

/* Padding on bottom */
.dr-pb-n {
  padding-bottom: 0;
}

.dr-pb-xsm {
  padding-bottom: 0.25rem;
}

.dr-pb-sm {
  padding-bottom: 0.5rem;
}

.dr-pb-md {
  padding-bottom: 1rem;
}

.dr-pb-lg {
  padding-bottom: 1.5rem;
}

.dr-pb-xl {
  padding-bottom: 2rem;
}

.dr-pb-pxxl {
  padding-bottom: 2.5rem;
}

/* Margin all around */
.dr-m-n {
  margin: 0;
}

.dr-m-xsm {
  margin: 0.25rem;
}

.dr-m-sm {
  margin: 0.5rem;
}

.dr-m-md {
  margin: 1rem;
}

.dr-m-lg {
  margin: 1.5rem;
}

.dr-m-xl {
  margin: 2rem;
}

.dr-m-xxl {
  margin: 2.5rem;
}

/* Margin on x-axis */
.dr-mx-n {
  margin: 0 0;
}

.dr-mx-xsm {
  margin: 0 0.25rem;
}

.dr-mx-sm {
  margin: 0 0.5rem;
}

.dr-mx-md {
  margin: 0 1rem;
}

.dr-mx-lg {
  margin: 0 1.5rem;
}

.dr-mx-xl {
  margin: 0 2rem;
}

.dr-mx-xxl {
  margin: 0 2.5rem;
}

/* Margin on y-axis */
.dr-my-n {
  margin: 0 0;
}

.dr-my-xsm {
  margin: 0.25rem 0;
}

.dr-my-sm {
  margin: 0.5rem 0;
}

.dr-my-md {
  margin: 1rem 0;
}

.dr-my-lg {
  margin: 1.5rem 0;
}

.dr-my-xl {
  margin: 2rem 0;
}

.dr-my-xxl {
  margin: 2.5rem 0;
}

/* Margin on left side */
.dr-ml-n {
  margin-left: 0;
}

.dr-ml-xsm {
  margin-left: 0.25rem;
}

.dr-ml-sm {
  margin-left: 0.5rem;
}

.dr-ml-md {
  margin-left: 1rem;
}

.dr-ml-lg {
  margin-left: 1.5rem;
}

.dr-ml-xl {
  margin-left: 2rem;
}

.dr-ml-xxl {
  margin-left: 2.5rem;
}

/* Margin on right side */
.dr-mr-n {
  margin-right: 0;
}

.dr-mr-xsm {
  margin-right: 0.25rem;
}

.dr-mr-sm {
  margin-right: 0.5rem;
}

.dr-mr-md {
  margin-right: 1rem;
}

.dr-mr-lg {
  margin-right: 1.5rem;
}

.dr-mr-xl {
  margin-right: 2rem;
}

.dr-mr-xxl {
  margin-right: 2.5rem;
}

/* Margin on top */
.dr-mt-n {
  margin-top: 0;
}

.dr-mt-xsm {
  margin-top: 0.25rem;
}

.dr-mt-sm {
  margin-top: 0.5rem;
}

.dr-mt-md {
  margin-top: 1rem;
}

.dr-mt-lg {
  margin-top: 1.5rem;
}

.dr-mt-xl {
  margin-top: 2rem;
}

.dr-mt-xxl {
  margin-top: 2.5rem;
}

/* Margin on bottom */
.dr-mb-n {
  margin-bottom: 0;
}

.dr-mb-xsm {
  margin-bottom: 0.25rem;
}

.dr-mb-sm {
  margin-bottom: 0.5rem;
}

.dr-mb-md {
  margin-bottom: 1rem;
}

.dr-mb-lg {
  margin-bottom: 1.5rem;
}

.dr-mb-xl {
  margin-bottom: 2rem;
}

.dr-mb-xxl {
  margin-bottom: 2.5rem;
}

/* Containers */
.dr-container-xsm {
  max-width: 36rem;
}

.dr-container-sm {
  max-width: 48rem;
}

.dr-container-md {
  max-width: 62rem;
}

.dr-container-lg {
  max-width: 75rem;
}

.dr-container-xl {
  max-width: 87.5rem;
}

.dr-container-xxl {
  max-width: 100rem;
}

.dr-container-fluid {
  max-width: 100%;
}

.dr-center {
  margin: 0 auto;
}

.dr-flex {
  display: flex;
}

.dr-flex-row {
  flex-direction: row;
}

.dr-flex-row-r {
  flex-direction: row-reverse;
}

.dr-flex-column {
  flex-direction: column;
}

.dr-flex-column-r {
  flex-direction: column-reverse;
}

/* Justify Content */
.dr-justify-content-start {
  justify-content: start;
}

.dr-justify-content-center {
  justify-content: center;
}

.dr-justify-content-end {
  justify-content: end;
}

.dr-justify-content-start {
  justify-content: start;
}

.dr-justify-content-between {
  justify-content: space-between;
}

.dr-justify-content-evenly {
  justify-content: space-evenly;
}

.dr-justify-content-around {
  justify-content: space-around;
}

.dr-g-n {
  gap: 0;
}

.dr-g-xsm {
  gap: 0.25rem;
}

.dr-g-sm {
  gap: 0.5rem;
}

.dr-g-md {
  gap: 1rem;
}

.dr-g-lg {
  gap: 1.5rem;
}

.dr-g-xl {
  gap: 2rem;
}

.dr-g-xxl {
  gap: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
