@use "variables";

@keyframes float {
    0%{scale: 100%;}
    50%{scale: 120%;}
    100%{scale: 110%;}
}
//float for hover
@keyframes v-float {
    0%{bottom: 0px;}
    50%{bottom: 30px;}
    100%{bottom: 0px;}
}
//it starts a little below and moves up and fades in
@keyframes popout {
    0%{opacity: 0%; translate: 0px, -100px;}
    100%{opacity: 100%; translate: 0px, 0px;}
}
//same as the other one but with a scale in
@keyframes scalein {
    0%{opacity: 0%; scale: 1%}
    100%{opacity: 100%; scale: 100%}
}