@use "variables";
@use "sass:map";

// Lists
ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-type: decimal; 
    list-style-position: inside; 
}

dl > dt {
    font-weight: map.get(variables.$font-weights, "sb");
    font-size: map.get(variables.$font-sizes, "md");
}

dl > dd {
    margin-left: map.get(variables.$margin-sizes, "lg");
}

ul, ol, dl {
    padding-left: map.get(variables.$padding-sizes, "md");
    margin: map.get(variables.$margin-sizes, "sm");
}
