@use "variables";
@use "sass:map";

// Lists
ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-type: decimal; 
    list-style-position: inside; 
}

dl > dt {
    font-weight: map.get(variables.$font-weights, "sb");
    font-size: map.get(variables.$font-sizes, "sm") * 1.313;
}

dl > dd {
    margin-left: map.get(variables.$margin-sizes, "lg");
}

ul, ol, dl {
    padding-left: map.get(variables.$padding-sizes, "md");
    margin: map.get(variables.$margin-sizes, "sm");
}

// Links

@mixin link($color: #0000ff, $decoration:underline) {
    color: $color;
    text-decoration: $decoration;
    transition: map.get(variables.$transition-length, "sm") ease-out;
}

a {
    @include link;
}

a:hover {
    opacity: map.get(variables.$opacity, "hf");
}
