@use "variables";

/* Padding all around */
@each $size, $padding in variables.$padding-sizes {
    .dr-p-#{$size} {
        padding: $padding;
    }
}

/* Padding on x-axis */
@each $size, $padding in variables.$padding-sizes {
    .dr-px-#{$size} {
        padding-left: $padding;
        padding-right: $padding;
    }
}

/* Padding on y-axis */
@each $size, $padding in variables.$padding-sizes {
    .dr-py-#{$size} {
        padding-top: $padding;
        padding-bottom: $padding;
    }
}

/* Padding on left side */
@each $size, $padding in variables.$padding-sizes {
    .dr-pl-#{$size} {
        padding-left: $padding;
    }
}

/* Padding on right side */
@each $size, $padding in variables.$padding-sizes {
    .dr-pr-#{$size} {
        padding-right: $padding;
    }
}

/* Padding on top */
@each $size, $padding in variables.$padding-sizes {
    .dr-pt-#{$size} {
        padding-top: $padding;
    }
}

/* Padding on bottom */
@each $size, $padding in variables.$padding-sizes {
    .dr-pb-#{$size} {
        padding-bottom: $padding;
    }
}

/* Margin all around */
@each $size, $margin in variables.$margin-sizes {
    .dr-m-#{$size} {
        margin: $margin;
    }
}

/* Margin on x-axis */
@each $size, $margin in variables.$margin-sizes {
    .dr-mx-#{$size} {
        margin: 0 $margin;
    }
}

/* Margin on y-axis */
@each $size, $margin in variables.$margin-sizes {
    .dr-my-#{$size} {
        margin: $margin 0;
    }
}

/* Margin on left side */
@each $size, $margin in variables.$margin-sizes {
    .dr-ml-#{$size} {
        margin-left: $margin;
    }
}

/* Margin on right side */
@each $size, $margin in variables.$margin-sizes {
    .dr-mr-#{$size} {
        margin-right: $margin;
    }
}

/* Margin on top */
@each $size, $margin in variables.$margin-sizes {
    .dr-mt-#{$size} {
        margin-top: $margin;
    }
}

/* Margin on bottom */
@each $size, $margin in variables.$margin-sizes {
    .dr-mb-#{$size} {
        margin-bottom: $margin;
    }
}