@use "dream-body-font";
@use "variables";
@use "functions";
@use "sass:map";

// Sets base fonts
body {
    font-family: variables.$dream-font;
    color: map.get(map.get(variables.$themes, "default-theme-light"), "text-main");
}
h1 {
    font-size: map.get(variables.$font-sizes, "xxl");
    font-weight: map.get(variables.$font-weights, "b");
}
h2 {
    font-size: map.get(variables.$font-sizes, "xl");
    font-weight: map.get(variables.$font-weights, "b");
}
h3 {
    font-size: map.get(variables.$font-sizes, "lg");
    font-weight: map.get(variables.$font-weights, "sb");
}
h4 {
    font-size: map.get(variables.$font-sizes, "md");
    font-weight: map.get(variables.$font-weights, "sb");
}
h5 {
    font-size: map.get(variables.$font-sizes, "sm");
    font-weight: map.get(variables.$font-weights, "sb");
}
h6 {
    font-size: map.get(variables.$font-sizes, "xsm");
    font-weight: map.get(variables.$font-weights, "sb");
}
p {
    font-size: map.get(variables.$font-sizes, "sm");
    font-weight: map.get(variables.$font-weights, "r");
}

// Font weight classes
@each $size, $weight in variables.$font-weights {
    .dr-fw-#{$size} {
        font-weight: $weight;
    }
} 

// Font size classes
@each $size, $fs in variables.$font-sizes {
    .dr-fs-#{$size} {
        font-size: $fs;
    }
}

// Display size classes
@each $size, $ds in variables.$display-font-sizes {
    .dr-ds-#{$size} {
        font-size: $ds;
    }
}

// Sets font color
@each $theme-name, $theme-values in variables.$themes {
    .dr-#{$theme-name} {
        body {
            color: map.get($theme-values, "text-main");
        }

        @each $type, $color in $theme-values {
            @if functions.is-map($color) {
                .dr-fc-#{$type} {
                    color: map.get($color, "color");
                }
            }
        }
    }
}