@use "spacing";
@use "variables";
@use "functions";
@use "sass:map";

// Classes for rounded corners
@each $size, $br in variables.$rounded-corners {
    .dr-br-#{$size} {
        border-radius: $br;
    }
}

// Classes for border widths
@each $size, $bw in variables.$border-width {
    @if $bw == 0 {
        .dr-b-#{$size} {
            border: none;
        }
    }
    @else {
        .dr-b-#{$size} {
            border: $bw solid black;
        }
    }
}

// Classes for opacity
@each $amount, $opacity in variables.$opacity {
    .dr-o-#{$amount} {
        opacity: $opacity;
    }
}

// Class for background color
@each $theme-name, $theme-values in variables.$themes {
    .dr-#{$theme-name} {
        @each $type, $color in $theme-values {
            @if functions.is-map($color) {
                .dr-bg-#{$type} {
                    background: map.get($color, "color");
                }
            }
        }
    }
}