// Colours
$default-theme: (
  "background": #45496a,
  "text": #ffffff,
  "primary": #e5857b,
  "secondary": #7d8bae,
  "accent": #f1b2b2
);

// Theme 1
$theme-1: (
    "background": #012E40,
    "text": #F2E3D5,
    "primary": #50DEDE,
    "secondary": #026773,
    "accent": #FF3A5F
);

// Theme 2
$theme-2: (
    "background": #ffffff,
    "text": #000000,
    "primary": #4fb19d,
    "secondary": #31695e,
    "accent": #c8f1e9
);

// Theme 3
$theme-3: (
    "background": #ffffff,
    "text": #000000,
    "primary": #e2d34d,
    "secondary": #74552e,
    "accent": #e5f1c8
);

// Fonts
$dream-font: "Lexend", serif;

// Font Sizes
$font-xsm: 0.875rem;
$font-sm: 1rem;
$font-md: 1.3125rem;
$font-lg: 2.25rem;
$font-xl: 3rem;
$font-xxl: 3.75rem;

// Font Weights
$font-weight-extra-light: 100;
$font-weight-light: 200;
$font-weight-reg: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;