// Colours
$default-theme: (
  "background": #45496a,
  "text": #ffffff,
  "primary": #e6857a,
  "secondary": #7d8bae,
  "accent": #f1b2b2,
  "success": #C6F463,
  "danger": #ED1B47,
  "warning": #FFDD80,
  "dark": #45496a,
  "light": #f0cdcd
);

// Red Theme
$theme-red: (
    "background": hsl(0, 30, 4),
    "text": hsl(0, 22, 91),
    "primary": hsl(0, 100, 66),
    "secondary": hsl(0, 46, 38),
    "accent": hsl(0, 81, 75),
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffdc68,
    "dark": hsl(0, 30%, 4%),
    "light": hsl(0, 39%, 71%)
);

// Orange Theme
$theme-orange: (
    "background": hsl(20, 30, 4),
    "text": hsl(20, 22, 91),
    "primary": hsl(20, 100, 66),
    "secondary": hsl(20, 86, 23),
    "accent": hsl(20, 81, 75),
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffdc68,
    "dark": hsl(20, 30%, 4%),
    "light": hsl(20, 39%, 71%)
);

// Yellow Theme
$theme-yellow: (
    "background": hsl(40, 30, 4),
    "text": hsl(40, 22, 91),
    "primary": hsl(40, 100, 66),
    "secondary": hsl(40, 86, 23),
    "accent": hsl(40, 81, 75),
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffa468,
    "dark": hsl(40, 30%, 4%),
    "light": hsl(40, 39%, 71%)
);

// Green Theme
$theme-green: (
    "background": hsl(100, 30, 4),
    "text": hsl(100, 22, 91),
    "primary": hsl(100, 100, 66),
    "secondary": hsl(100, 86, 23),
    "accent": hsl(100, 81, 75),
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffdc68,
    "dark": hsl(100, 30%, 4%),
    "light": hsl(100, 39%, 71%)
);

// Blue Theme
$theme-blue: (
    "background": hsl(190, 27%, 4%),
    "text": hsl(193, 20%, 91%),
    "primary": hsl(197, 39%, 71%),
    "secondary": hsl(196, 46%, 33%),
    "accent": hsl(196, 54%, 55%),
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffdc68,
    "dark": hsl(190, 27%, 4%),
    "light": hsl(197, 39%, 71%)
);

// Purple Theme
$theme-purple: (
    "background": hsl(265, 30, 4),
    "text": hsl(265, 22, 91),
    "primary": hsl(265, 100, 66),
    "secondary": hsl(265, 86, 23),
    "accent": hsl(265, 81, 75),
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffdc68,
    "dark": hsl(265, 30%, 4%),
    "light": hsl(265, 39%, 71%)
);




// Fonts
$dream-font: "Lexend", serif;

// Font Sizes
$font-xsm: 0.875rem;
$font-sm: 1rem;
$font-md: 1.3125rem;
$font-lg: 2.25rem;
$font-xl: 3rem;
$font-xxl: 3.75rem;

// Font Weights
$font-weight-extra-light: 100;
$font-weight-light: 200;
$font-weight-reg: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;