// Colours
$default-theme: (
  "background": #45496a,
  "text": #ffffff,
  "primary": #e6857a,
  "secondary": #7d8bae,
  "accent": #f1b2b2,
  "success": #C6F463,
  "danger": #ED1B47,
  "warning": #FFDD80,
  "dark": #45496a,
  "light": #f0cdcd
);

// Theme 1
$theme-1: (
    "background": #012E40,
    "text": #F2E3D5,
    "primary": #50DEDE,
    "secondary": #026773,
    "accent": #8cffc7,
    "success": #a6d345,
    "danger": #ED1B47,
    "warning": #ffa468,
    "dark": #012E40,
    "light": #a6ecec
);

// Theme 2
$theme-2: (
    "background": #080d0e,
    "text": #e4ebed,
    "primary": #97c1d1,
    "secondary": #2d667b,
    "accent": #4fa9cb,
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffa468,
    "dark": #080d0e,
    "light": #97c1d1
);

// Theme 3
$theme-3: (
    "background": #0e0c08,
    "text": #edece4,
    "primary": #e2d34d,
    "secondary": #74552e,
    "accent": #f1ebc8,
    "success": #C6F463,
    "danger": #ED1B47,
    "warning": #ffa468,
    "dark": #0e0c08,
    "light": #f1ebc8
);

// Fonts
$dream-font: "Lexend", serif;

// Font Sizes
$font-xsm: 0.875rem;
$font-sm: 1rem;
$font-md: 1.3125rem;
$font-lg: 2.25rem;
$font-xl: 3rem;
$font-xxl: 3.75rem;

// Font Weights
$font-weight-extra-light: 100;
$font-weight-light: 200;
$font-weight-reg: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;